html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono Medium', sans-serif;
}