@import "_globals.scss";
@import "_helpful.scss";

body
{
  display        : flex;
  flex-direction : column;
  min-height     : 100vh;
  font-family    : 'Roboto', sans-serif;
  //font-family    : 'Roboto Mono', monospace;
  //font-family    : 'Playfair Display', serif;
}

h1, h2, h3, h4, h5, h6
{
  font-family : "Staatliches", sans-serif;
}

header
{
  z-index : 999;

  .cartridge-notice
  {
    p
    {
      height : 50px;
      margin : 0;

      span:first-child
      {
        color : red; font-weight : bold; font-size : 4em;
      }

      span:not(:first-child)
      {
        font-style   : italic;
        font-weight  : bold;
        padding-left : 0.5em;
      }
    }
  }

  .nav-top
  {
    background  : $KodachromeBoxBG $NoiseImage;

    padding-top : 10px;
    //padding-bottom   : 10px;
    //border-top    : 10px solid $KodachromeBoxBG;
    //border-bottom    : 10px solid $KodachromeBoxBG;
    //height           : 130px;

    .row
    {
      padding : 0.25em 0;
    }

    .banner-bg
    {
      background : $KodachromeBoxBanner $NoiseImage;
    }

    h1.nav-brand
    {
      margin  : 0;
      padding : 0.25em 0;

      .logo
      {
        width : 400px;
      }
    }


    .search
    {
      //background-color : darken($KodachromeBoxBanner, 10%);
      background    : none;
      border-bottom : 1px dashed black;
      //border           : none;
      //border-radius    : 5px;
      color         : #FFFFFF;

      //background-color : $KodachromeBoxBG;
      transition    : 0.2s ease-in-out;

      &:hover, &:focus-within
      {
        transition       : 0.2s ease-in-out;
        background-color : darken($KodachromeBoxBG, 5%);
        outline          : none;
      }

      form
      {
        display : flex;
        width   : 100%;

        .input-group-text
        {
          //background-color : darken($KodachromeBoxBanner, 13%);
          background : none;
          border     : none;
          padding    : 0.5em;
          height     : 100%;
          color      : black;
        }

        input
        {

          background : none;
          border     : none;
          padding    : 0.5em;
          height     : 100%;
        }

        button
        {
          //background-color : darken($KodachromeBoxBanner, 13%);
          background     : none;
          //width            : 200px;
          border         : none;
          padding        : 0.75em 2em;
          height         : 100%;
          text-transform : lowercase !important;
          font-weight    : bold;
          font-style     : italic;
          //border         : 1px dashed red;
        }
      }
    }

    .links
    {
      padding        : 0.25em 0;
      text-transform : uppercase;
      font-family    : "Staatliches", sans-serif;
      font-size      : 1.4em;
      letter-spacing : 0.1em;

      ul.navigation
      {
        margin      : 0;
        padding     : 0;
        height      : 100%;
        display     : flex;
        align-items : center;;

        li
        {
          display : inline-block;
          padding : 0 1.25em;

          a
          {
            color           : black;
            padding         : 1em;

            transition      : 0.1s ease-in-out;
            text-decoration : none;

            &:hover
            {
              color                 : black;
              transition            : 0.1s ease-in-out;
              text-decoration       : underline;
              text-decoration-style : dashed;
            }
          }
        }

        li.active
        {
          //font-weight : bold;
        }
      }
    }


  }
}

footer
{
  display        : flex;
  flex-direction : row;
  background     : $KodachromeBoxBG $NoiseImage;

  a
  {
    color       : #000000;
    font-weight : bold;
  }

  .icons
  {
    .nav-item
    {
      font-size : 2em;
    }
  }

  p
  {
    margin         : 0;
    //font-weight: bold;
    font-family    : "Staatliches", sans-serif;
    letter-spacing : 3px;
    font-size      : 1em;
  }

  .copyright
  {
    padding        : 1em 0;
    text-transform : uppercase;
  }
}

main.container-fluid
{
  //padding          : 0;
  background : $KodachromeBoxBG $NoiseImage;
}

html, body, .map
{
  margin  : 0;
  padding : 0;
  width   : 100%;
  height  : 100%;
}

.map
{
  background : $KodachromeBoxBG $NoiseImage;
}

